<% 
  # Change Arrow and Toggle
  if @sort_order == "desc"
    toggle_arrow = "&#9660;"
    toggle_sort = "asc"
  else
    toggle_arrow = "&#9650;"
    toggle_sort = "desc"
  end
-%>
<div id="pgHome">
  <hr size="1" />
  <div id="head">
    <h2>Active Groups</h2>
    <menu>
      <li><strong>Sort by</strong></li>
      <li>
        <%= link_to toggle_arrow, :controller => 'groups', :action => "index", :s => toggle_sort, :by => @order_by %>
      </li>
      <li>
        <% if @order_by == 'locations' -%><b><% end -%>
        <%= link_to "Location",    :controller => 'groups', :action => "index", :s => 'asc',      :by => "locations" %>
        <% if @order_by == 'locations' -%></b><% end -%>
      </li>
      <li>
        <% if @order_by == 'groups' -%><b><% end -%>
        <%= link_to "Group",       :controller => 'groups', :action => "index", :s => 'asc',      :by => "groups" %>
        <% if @order_by == 'groups' -%></b><% end -%>
      </li>
    </menu>
  </div>
  <ol>
  <% for group in @groups -%>
    <% if group.locations.length == 0
         link_text = "<big>#{group.name}</big><br /><em>No Meetings Scheduled</em>"
       end
       group.locations.each do |location|
         link_text = "<big>#{group.name}</big><br /><em><b>Meet At</b> <span>#{location.name}</span></em>"
       end  
    -%>
    <li>
      <%= link_to link_text, :controller => 'groups', :action => 'show', :id => group.id %>
    </li>
  <% end -%>
  </ol>
  <hr size="1" />
  <ul>
    <% paginate_list = will_paginate @groups
      if paginate_list
        paginate_list = "<li>#{paginate_list}</li>"
      end -%>
    <%= paginate_list %>
    <li class="add"><%= link_to '✚ Group', :controller => 'groups', :action => 'new' %></li>
    <li class="add"><%= link_to '✚ Location', :controller => 'locations', :action => 'new' %></li>
    <li class="add"><%= link_to '✚ Event', :controller => 'events', :action => 'new' %></li>
  </ul>
</div>