<%
  if request.env['HTTP_REFERER']
    cancel_link = request.env['HTTP_REFERER']
  else
    cancel_link = @location
  end
%>

<%=  %>
<div id="locationForm" class="edit">
  <hr size="1" />
  <div id="head">
    <h2>Edit Location</h2>
    <menu>
      <li><%= link_to "Cancel", cancel_link %></li>
    </menu>
  </div>

  <% form_for(@location) do |f| -%>
  <div id="body" class="new">
      <div id="error"><%= f.error_messages -%></div>
      <div>
        <%= f.label :name, "Name" %>
        <br />
        <%= f.text_field :name %>
      </div>
      <div class="desc">
        <%= f.label :address, "Full Address" %>
        <br />
        <%= f.text_area :address, :class => "street_address" %>
      </div>
      <div class="desc">
        <%= f.label :note, "More Info" %>
        <br />
        <%= f.text_area :note %>
      </div>
      <div style="clear:both;"></div>
  </div>
  <hr size="1" />
  <ul>
    <li><%= f.submit "⇧ Save Location" %></li>
  </ul>
    <% end -%>
</div>